
.contenedor {
  background-image: url(../../assets/homeFondo.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.contenidoElementos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.contenedor-card{
 padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

.filtros {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.boton {
    background-color: rgb(29, 20, 44);
    color:rgb(222, 219, 4);
    border-radius: 4px;
    box-shadow: 0 0 2px 2px rgb(108, 39, 228);
    margin: 10px;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 10px;
    font-family: "IBM Plex Mono", monospace;
    font-size: 1rem;
}

.boton:hover{
    background-color:  rgb(253, 245, 17);
    color: rgba(193, 3, 3, 0.661);
}

.select {
    background-color:  rgb(253, 245, 17);
    color: rgba(193, 3, 3, 0.661);
    border-radius: 4px;
    box-shadow: 0 0 2px 2px rgb(108, 39, 228);
    margin: 8px;
    font-weight: bold;
    text-decoration: none;
    padding: 2px 8px;
    font-family: "IBM Plex Mono", monospace;
    font-size: 1rem;
}

.select:hover{
    background-color: rgb(29, 20, 44);
    color:rgb(222, 219, 4);
}

.paginado {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}